button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 50px;
    border: 1px solid #ddd;
    cursor: pointer;
    outline: inherit;
    gap: .5rem;
}

button.hover,
button:active,
button:focus {
    background-color: #ddd;
}

.l-size {
    font-size: larger;
    padding: 1rem 2rem;
}

.m-size {
    font-size: large;
    padding: 1rem;
}

.s-size {
    font-size: medium;
    padding: .25rem 1rem;
}