.game-desc {
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

h4 {
    margin: 0 0 .5rem 0;
}

p {
    margin: 0;
    text-align: justify;
}

.bold {
    font-weight: bold;
}