.container {
  width: 800px;
  height: 400px;
  margin: 50px;
  background-color: white;
  flex: 0 0 auto;
  border: 1px solid #ddd;
  border-radius: 50px;
  display: flex;
  padding: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
}

p {
  text-align: justify;
}

.purple {
  color: red;
}

.green {
  color: green;
}

.bold {
  font-weight: bold;
}